config-version: 1.2

storage:
  type: SQLite # SQLite (local storage), MySQL, MariaDB, MongoDB
  host: "localhost"
  port: 3306
  database: "database_name"
  username: "root"
  password: ""
  save-delay: 300

general:
  permission-plugin: auto # luckperms, GroupManager, and "auto". Ask the dev to add others
  can-counter-attack: false # Can a team attack another territory from a territory already in battle
  debug-mode: false

locale:
  lang: en_EN
  decimal-display: 1
  title:
    fade-in: 1
    stay: 18
    fade-out: 2

team:
  system: "auto" # "Towny", "UltimateClans", "nodewar" OR "auto"
  creation-cost: 0
  default-relation: neutral # neutral, enemy, ally
  none-color: "#4C4C4C"
  deploy-timer: 10
  deploy-cooldown: 120
  maximum-members: 50 #-1 for infinite
  name-min-length: 5
  name-max-length: 11 # Maximum 33
  shortname-min-length: 3
  shortname-max-length: 5

bossbar:
  enabled: true
  color: # RED, YELLOW, BLUE, GREEN, PINK, PURPLE, WHITE
    neutral: WHITE # no team
    controlled: YELLOW # it's like neutral but controlled by a team
    team: BLUE
    ally: GREEN
    truce: PURPLE
    enemy: RED

webmap:
  plugins: # "auto" to add use any compatible webmap plugin. add "!" before each line to remove the selected plugin.
    - "auto"
    # - "dynmap"
    # - "Squaremap"
    # - "bluemap"
  background-color: "#FFFFFF"
  simple-line: false
  line-thickness: 3
  hide-by-default: false
  use-3d-region: false
  tick-per-update: 20
  many-update-delay: 1
  fill-opacity: 80
  line-opacity: 90

battlefield:
  alerts:
    - "1h"
    - "30m"
    - "10m"
    - "5m"
    - "2m"
    - "1m"
    - "30s"
    - "10s"
    - "5s"
    - "4s"
    - "3s"
    - "2s"
    - "1s"
  list:
    tier-1: # Daily tier 1 territories from 9pm to midnight
      display: "Tier 1"
      start-times:
        - "21:00"
      reset-team: true
      end-battle-on-battlefield-end: true
      territory-types:
        - t1
        - cp-t1
    tier-2: # On wednesday only from midnight to 5am
      display: "Tier 2"
      start-days:
        - wednesday
      duration: "5h"
      reset-team: true
      end-battle-on-battlefield-end: true
      territory-types:
        - t2
        - cp-t2
    tier-3:
      display: "Tier 3" # starts monday and saturday at 4pm, ends 48hours later
      start-days:
        - monday
        - saturday
      start-times:
        - "16:00"
      duration: "2d"
      reset-team: true
      end-battle-on-battlefield-end: true
      territory-types:
        - t3
        - cp-t3